Repository kookmin-sw/capstone-2025-10, pull requests merged in 2025-03, with the labels that each got.

#10 [Feat] input component 개발
  frontend/next.config.mjs
  frontend/package.json
  frontend/public/upload-icon.svg
  frontend/src/app/page.js
  frontend/src/app/page.module.css
  frontend/src/app/styles/colors.scss
  frontend/src/components/Input/ImageUploader/index.jsx
  frontend/src/components/Input/ImageUploader/index.module.scss
  frontend/src/components/Input/TextInput/index.jsx
  frontend/src/components/Input/TextInput/index.module.scss
Labels: enhancement, frontend

#21 [Feat] 성별 연령대 모델 1차 실험(#20)
  ai/.gitignore
  ai/requirements.txt
  ai/src/visitor_detect.ipynb
Labels: enhancement, model

#16 Fix/login
  frontend/src/app/page.js
  frontend/src/app/page.module.css
  frontend/src/app/user/page.js
  frontend/src/app/user/user.module.scss
  frontend/src/components/Login/LabeledInput/index.js
  frontend/src/components/Login/LabeledInput/index.module.scss
  frontend/src/components/Login/LabeledPasswordInput/index.js
  frontend/src/components/Login/LabeledPasswordInput/index.module.scss
  frontend/src/components/Login/LoginFormFields/index.js
  frontend/src/components/Login/LoginFormFields/index.module.scss
  frontend/src/components/labeledinput.js
Labels: enhancement, frontend

#24 [Feat] 백엔드 로그인 API 구현
  backend/src/main/java/capstone/offflow/Common/EncoderConfig.java
  backend/src/main/java/capstone/offflow/Common/SecurityConfig.java
  backend/src/main/java/capstone/offflow/Login/Controller/LoginController.java
  backend/src/main/java/capstone/offflow/Login/Dto/LoginRequestDto.java
  backend/src/main/java/capstone/offflow/Login/LoginService.java
  backend/src/main/java/capstone/offflow/Login/Service/LoginService.java
  backend/src/main/java/capstone/offflow/Login/Service/LoginServiceImpl.java
  backend/src/main/java/capstone/offflow/User/Controller/UserController.java
  backend/src/main/java/capstone/offflow/User/Dto/UserDto.java
  backend/src/main/java/capstone/offflow/User/Repository/UserRepository.java
  backend/src/main/java/capstone/offflow/User/Service/UserPrincipal.java
  backend/src/main/java/capstone/offflow/User/Service/UserServiceImpl.java
  backend/src/test/java/capstone/offflow/Service/LoginServiceTest.java
  backend/src/test/java/capstone/offflow/Service/UserServiceTest.java
Labels: backend

#27 Feature/front 회원관리
  frontend/src/app/member/page.js
  frontend/src/app/member/page.module.scss
  frontend/src/app/page.module.scss
  frontend/src/components/Button/LogoutButton/index.module.scss
  frontend/src/components/Card/CardContainer.js
  frontend/src/components/Card/CardContainer.module.css
  frontend/src/components/Header/app/favicon.ico
  frontend/src/components/Header/app/layout.js
  frontend/src/components/Header/app/page.js
  frontend/src/components/Header/app/page.module.css
  frontend/src/components/Header/app/styles/colors.scss
  frontend/src/components/Header/app/styles/fonts.scss
  frontend/src/components/Header/app/styles/globals.scss
  frontend/src/components/Header/components/Button/LogoutButton/index.jsx
  frontend/src/components/Header/components/Button/LogoutButton/index.module.scss
  frontend/src/components/Header/components/Button/index.jsx
  frontend/src/components/Header/components/Button/index.module.scss
  frontend/src/components/Header/components/Header/index.jsx
  frontend/src/components/Header/components/Header/index.module.scss
  frontend/src/components/Pagination/index.js
  frontend/src/components/Pagination/index.module.scss
Labels: enhancement, frontend

#28 Feature/front 회원생성
  frontend/src/app/components/Button/LogoutButton/index.jsx
  frontend/src/app/components/Button/LogoutButton/index.module.scss
  frontend/src/app/components/Button/index.jsx
  frontend/src/app/components/Button/index.module.scss
  frontend/src/app/components/CardContainer/index.js
  frontend/src/app/components/CardContainer/index.module.scss
  frontend/src/app/components/Header/index.jsx
  frontend/src/app/components/Header/index.module.scss
  frontend/src/app/components/Input/ImageUploader/index.jsx
  frontend/src/app/components/Input/ImageUploader/index.module.scss
  frontend/src/app/components/Input/TextInput/index.jsx
  frontend/src/app/components/Input/TextInput/index.module.scss
  frontend/src/app/member/create/page.js
  frontend/src/app/member/create/page.module.scss
  frontend/src/app/page.js
Labels: enhancement, frontend
