Repository kookmin-sw/capstone-2025-10, pull requests merged in 2025-04, with the labels that each got.

#43 [Feat] backend dashboard API 개발 완료
  backend/build.gradle
  backend/src/main/java/capstone/offflow/Common/ExceptionResponse.java
  backend/src/main/java/capstone/offflow/Common/GlobalExceptionHandler.java
  backend/src/main/java/capstone/offflow/Common/GridConfig.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/DashboardController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/ProductController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/SectionController.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Dashboard.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/DashboardMetadata.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Product.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Section.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/DashboardDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/MetadataDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/ProductDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/SectionDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/DashboardRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/ProductRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/SectionRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionServiceImpl.java
  backend/src/main/java/capstone/offflow/Filter/LogFilter.java
  backend/src/main/java/capstone/offflow/Filter/LoginCheckFilter.java
  backend/src/main/java/capstone/offflow/User/Controller/UserController.java
  backend/src/main/java/capstone/offflow/User/Domain/User.java
  backend/src/main/java/capstone/offflow/User/Dto/UserDto.java
  backend/src/test/java/capstone/offflow/Service/DashboardServiceTest.java
Labels: backend

#47 [Feat] 성별 연령대 모델 웹캠에 적용
  ai/.gitignore
  ai/model/test.py
  ai/model/visitor_detect.py
Labels: enhancement, model

#50 Feat/front 알람페이지
  frontend/package-lock.json
  frontend/public/refresh.svg
  frontend/src/app/notice/page.js
  frontend/src/app/notice/page.module.scss
  frontend/src/components/NoticeLayout/index.js
  frontend/src/components/NoticeLayout/index.module.scss
  frontend/src/components/NoticeList/MessegeCount/index.js
  frontend/src/components/NoticeList/MessegeCount/index.module.scss
  frontend/src/components/NoticeList/MessegeCustomer/index.js
  frontend/src/components/NoticeList/MessegeCustomer/index.module.scss
  frontend/src/components/NoticeList/MessegeSend/index.js
  frontend/src/components/NoticeList/MessegeSend/index.module.scss
  frontend/src/components/NoticeList/MessegeView/index.js
  frontend/src/components/NoticeList/MessegeView/index.module.scss
  frontend/src/components/NoticePopup/NoticeChargePopup/index.js
  frontend/src/components/NoticePopup/NoticeChargePopup/index.module.scss
  frontend/src/components/NoticePopup/NoticeCoustomList/index.js
  frontend/src/components/NoticePopup/NoticeCoustomList/index.module.scss
  frontend/src/components/NoticePopup/NoticeSendCompletePopup/index.js
  frontend/src/components/NoticePopup/NoticeSendCompletePopup/index.module.scss
  frontend/src/components/NoticePopup/NoticeSendConfirmPopup/index.js
  frontend/src/components/NoticePopup/NoticeSendConfirmPopup/index.module.scss
  frontend/src/components/NoticePopup/NoticeSendPopup/index.js
  frontend/src/components/NoticePopup/NoticeSendPopup/index.module.scss
  frontend/src/hooks/useNoticeMessage.js
  frontend/src/hooks/useNoticeRecipient.js
  frontend/src/utils/messageUtils.js
Labels: enhancement, frontend

#57 [Feature] 방문객 관리 시스템 API 구현 (사전등록 & QR코드)
  backend/src/main/java/capstone/offflow/Common/WebConfig.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/ProductController.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/DashboardRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/ProductRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductService.java
  backend/src/main/java/capstone/offflow/Visitor/Controller/VisitorController.java
  backend/src/main/java/capstone/offflow/Visitor/Domain/VisitHistory.java
  backend/src/main/java/capstone/offflow/Visitor/Domain/Visitor.java
  backend/src/main/java/capstone/offflow/Visitor/Dto/VisitHistoryDto.java
  backend/src/main/java/capstone/offflow/Visitor/Dto/VisitorDto.java
  backend/src/main/java/capstone/offflow/Visitor/Repository/VisitHistoryRepository.java
  backend/src/main/java/capstone/offflow/Visitor/Repository/VisitorRepository.java
  backend/src/main/java/capstone/offflow/Visitor/Service/VisitorService.java
  backend/src/main/java/capstone/offflow/Visitor/Service/VisitorServiceImpl.java
Labels: backend

#65 Fix/back user
  backend/src/main/java/capstone/offflow/Common/PasswordEncoderConfig.java
  backend/src/main/java/capstone/offflow/Common/SecurityConfig.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Dashboard.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Section.java
  backend/src/main/java/capstone/offflow/User/Service/UserServiceImpl.java
  backend/src/main/java/capstone/offflow/Visitor/Domain/Visitor.java
Labels: backend

#67 [fix] visitor api fix complete #66
  backend/src/main/java/capstone/offflow/Visitor/Controller/VisitorController.java
  backend/src/main/java/capstone/offflow/Visitor/Domain/Visitor.java
  backend/src/main/java/capstone/offflow/Visitor/Repository/VisitorRepository.java
  backend/src/main/java/capstone/offflow/Visitor/Service/VisitorService.java
  backend/src/main/java/capstone/offflow/Visitor/Service/VisitorServiceImpl.java
Labels: backend

#74 Fix/back dashboard
  backend/src/main/java/capstone/offflow/Common/GlobalExceptionHandler.java
  backend/src/main/java/capstone/offflow/Common/GridConfig.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/DashboardController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/ProductController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/SectionController.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Dashboard.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Section.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/DashboardDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/ProductDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/SectionDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/DashboardRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/ProductRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/SectionRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionServiceImpl.java
Labels: backend

#75 Test/back dashboardapi
  backend/src/main/java/capstone/offflow/Dashboard/Controller/SectionController.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Section.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/SectionRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionServiceImpl.java
Labels: Test, backend

#79 Feature/back session
  backend/src/main/java/capstone/offflow/Common/CorsConfig.java
  backend/src/main/java/capstone/offflow/Login/Controller/AuthController.java
Labels: backend

#80 [fix] user info response after session check
  backend/src/main/java/capstone/offflow/Login/Controller/AuthController.java
Labels: bug, backend

#83 Feature/back vision
  backend/build.gradle
  backend/src/main/java/capstone/offflow/Dashboard/Dto/DashboardDto.java
  backend/src/main/java/capstone/offflow/OffflowApplication.java
  backend/src/main/java/capstone/offflow/Vision/Controller/DashboardStatisticsController.java
  backend/src/main/java/capstone/offflow/Vision/Controller/GenderAgeController.java
  backend/src/main/java/capstone/offflow/Vision/Controller/HeatmapController.java
  backend/src/main/java/capstone/offflow/Vision/Controller/SessionController.java
  backend/src/main/java/capstone/offflow/Vision/Controller/TrackingController.java
  backend/src/main/java/capstone/offflow/Vision/Controller/VisionController.java
  backend/src/main/java/capstone/offflow/Vision/Domain/DashboardStatistics.java
  backend/src/main/java/capstone/offflow/Vision/Domain/GenderAge.java
  backend/src/main/java/capstone/offflow/Vision/Domain/Heatmap.java
  backend/src/main/java/capstone/offflow/Vision/Domain/Session.java
  backend/src/main/java/capstone/offflow/Vision/Domain/Tracking.java
  backend/src/main/java/capstone/offflow/Vision/Domain/Vision.java
  backend/src/main/java/capstone/offflow/Vision/Dto/DashboardStatisticsDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/GenderAgeDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/HeatmapDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/SessionDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/TrackingDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/VisionDto.java
  backend/src/main/java/capstone/offflow/Vision/Repository/DashboardStatisticsRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/GenderAgeRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/HeatmapRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/SessionRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/TrackingRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/VisionRepository.java
  backend/src/main/java/capstone/offflow/Vision/Scheduler/VisionFlushScheduler.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/DashboardStatisticsService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/DashboardStatisticsServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/GenderAgeService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/GenderAgeServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/HeatmapService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/HeatmapServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/SessionService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/SessionServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/TrackingService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/TrackingServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/VisionDataService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/VisionDataServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/VisionService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/VisionServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Kafka/KafkaMessageWrapper.java
  backend/src/main/java/capstone/offflow/Vision/Service/Kafka/VisionKafkaConsumer.java
  backend/src/main/java/capstone/offflow/Vision/Service/Kafka/VisionKafkaProducer.java
  backend/src/main/java/capstone/offflow/Vision/Service/Redis/VisionRedisService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Redis/VisionRedisServiceImpl.java
Labels: enhancement, backend

#91 Feature/back requestapi
  backend/Dockerfile.dev
  backend/build.gradle
  backend/src/main/java/capstone/offflow/Common/RedisConfig.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/DashboardController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/ProductController.java
  backend/src/main/java/capstone/offflow/Dashboard/Controller/SectionController.java
  backend/src/main/java/capstone/offflow/Dashboard/Domain/Dashboard.java
  backend/src/main/java/capstone/offflow/Dashboard/Dto/DashboardDto.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/ProductRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Repository/SectionRepository.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/DashboardServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/ProductServiceImpl.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionService.java
  backend/src/main/java/capstone/offflow/Dashboard/Service/SectionServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Dto/GenderAgeDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/HeatmapDto.java
  backend/src/main/java/capstone/offflow/Vision/Dto/TrackingDto.java
  backend/src/main/java/capstone/offflow/Vision/Repository/GenderAgeRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/HeatmapRepository.java
  backend/src/main/java/capstone/offflow/Vision/Repository/TrackingRepository.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/GenderAgeService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/GenderAgeServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/HeatmapService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/HeatmapServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/TrackingService.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/TrackingServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Business/VisionDataServiceImpl.java
  backend/src/main/java/capstone/offflow/Vision/Service/Kafka/VisionKafkaConsumer.java
  backend/src/main/java/capstone/offflow/Vision/Service/Redis/VisionRedisServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/java/capstone/offflow/Service/DashboardServiceTest.java
  docker-compose.yml
  test.py
Labels: enhancement, backend
